<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebInterfaceSoap" allowCookies="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!-- <endpoint address="http://app.fpml.org/ws/WebInterface.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebInterfaceSoap"
                contract="ServiceReference.WebInterfaceSoap" name="WebInterfaceSoap" /> -->
			      <endpoint address="http://localhost:1320/WebInterface.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebInterfaceSoap"
                contract="ServiceReference.WebInterfaceSoap" name="WebInterfaceSoap" />
        </client>
    </system.serviceModel>
</configuration>